/* STYLING SHEET THAT IS LINKED TO DEFAULT.PHP IN THE SITE/TEMPLATES FOLDER */

/* ENTIRE HEADER STYLING */
.header {

  /*FLOAT THE HEADER LEFT SO THE BODY CAN BE PLACED ALONGSIDE IT */
  float: left;
  width: 300px;

}

/* STYLING FOR THE LOGO IN THE NAV MENU */
.logo {

  text-decoration: none;
  font-size: 40px;
  color: black;
  margin-left: 20px;

}

.logo:hover {

  opacity: .5;

}

/* NAV MENU STYLING */
.nav_menu_description {

  margin: 20px;
  margin-top: 30px;

}

.nav_menu {

  list-style: none;
  margin-left: -20px;
  margin-top: 30px;
}

.nav_menu_items {

  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-top: 10px;

}

.nav_menu_items:hover {

  opacity: .5;

}

/* SOCIAL MEDIA ICONS STYLING */
.social_media_nav_menu {

  margin-left: -30px;
  margin-top: 30px;

}
.social_media_icons {

  display: inline;
  width: 25px;
  margin: 3px;

}

.social_media_icons:hover {

  opacity: .5;

}

/* HOME PAGE PROJECTS STYLING */

.projects-list {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  grid-column-gap: 1.5rem;
  grid-row-gap: 3rem;

}

.projects {

  min-width: 200px;
  max-width: 100%;
}

.project-title {

  font-size: 18px;

}

.project-dimensions {

  font-size: 14px;
}

.project-date {

  font-size: 14px;
}


/* BODY STYLING. FLOAT RIGHT SO THAT THE 'HEADER' CAN BE FLOATED LEFT, LIKE THE ORIGINAL SITE. */

.body {

  float: right;

}
/* ALL ELEMENTS STYLING */
* {

/*Monserrat*/
  font-family: 'Courier New', sans-serif;
  letter-spacing: 2px;

}
